extends index

block append head
    link(rel='stylesheet', href='/stylesheets/reader.css')

block content
    h1 Good Reading

    each story in stories
        div(class='well storyOverview')
            h3 #{story.title}
            p #[em #{story.date}] -&nbsp;
                a(href='#{story.fromUrl}', target='_blank') #{story.from}
            p #{story.summary}
            a(class='activateModal', href='', data-toggle='modal', data-target='#myModal', data-src='#{story.link}') Read More

    div(class='modal fade', id='myModal', tabindex='-1', ng-controller='ReaderController')
        div(class='modal-dialog')
            div(class='modal-content')
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal')
                        span(aria-hidden='true') &times;
                    h4(class='modal-title') Story
                div(class='modal-body')
                    iframe(src='', style='zoom:0.60', frameborder='0', height='550', width='99.6%') sdgdsf

block append scripts
    script.
        $('a.activateModal').on('click', function(e) {
            var src = $(this).attr('data-src');
            $(".modal-body iframe").attr({
                'src': src,
                'location': src
            });
        });